@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<div class="jumbotron jumbotron-fluid">
    <div class="containerAfter m-MarginTop30">
        <div>            
            <h1 class="display-4">@Localizer["PageTitle"]</h1>
            <h4>@Localizer["PurpuseTitle"]</h4>
        </div>
    </div>
</div>
<div class="containerAfter">
    <div class="row aboutPage">
        <div class="col-md-12" style="margin-top:20px;">
            <h3>@Localizer["MissionTitle"]</h3>
            <div class="container">
                <ul style="list-style-type: none;">
                    <li>
                        <p>
                            @Localizer["Mission"]
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:20px;">
            <h3>@Localizer["VisionTitle"]</h3>
            <div class="container">
                <ul style="list-style-type: none;">
                    <li>
                        <p>
                            @Localizer["Vision"]
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:20px;">
            <h3>@Localizer["ValuesTitle"]</h3>
            <div class="container">
                <ul style="list-style-type: disc;">
                    <li>
                        <p>@Localizer["Values1"]</p>
                    </li>
                    <li>
                        <p>@Localizer["Values2"]</p>
                    </li>
                    <li>
                        <p>@Localizer["Values3"]</p>
                    </li>
                    <li>
                        <p>@Localizer["Values4"]</p>
                    </li>
                    <li>
                        <p>@Localizer["Values5"]</p>
                    </li>
                </ul>
            </div>
        </div>
        <img src="~/img/bd3.png" alt="@Data.Utility.ProjectViewName" />
    </div>
</div>

@section Scripts{
    <style>
        body header .navbar {
            margin-bottom: 0px !important;
        }

        .aboutPage p {
            font-size: 130%;
        }

        .jumbotron {
            background-image: url(../img/sobre_slide.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 414px;
        }

            .jumbotron h1, .jumbotron h4 {
                color: #FFFFFF;
                background: rgba(0, 0, 0, 0.7);
                padding: 5px;
                border-radius: 7px;
                display: table;
            }
    </style>
    <script>
        $(document).ready(function () {
            var y = document.getElementsByClassName("containerAfter")[0];
            y.classList.remove("containerAfter");
            y.style = "";
        });
    </script>
}