@model LoginViewModel
@using IdentityServer.Quickstart;
@inject BomDevAppSettingsUtil _appConfig

<partial name="_ValidationSummary" />

<div class="row">
    <div class="col-md-6">
        <span>Nao possui uma conta?</span>
        <a href="@_appConfig.registerURL">
            Crie uma agora
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row loginMargin4Percent">
            <div class="col-md-8">
                <section>
                    @if (Model.EnableLocalLogin)
                    {
                        <form asp-route="Login" class="loginForm">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Username" class="text-dark"></label>
                                <input class="form-control" placeholder="E-mail" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="text-dark"></label>
                                <input type="password" class="form-control" placeholder="Senha" asp-for="Password" autocomplete="off">
                            </div>
                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input text-dark" asp-for="RememberLogin">
                                        <label class="form-check-label text-dark" asp-for="RememberLogin">
                                            Lembrar meu login
                                        </label>
                                    </div>
                                </div>
                            }
                            <button class="btn btn-primary" name="button" value="login">Login</button>
                            <ul class="list-inline loginMargin4Percent">
                                <li class="list-inline-item">
                                    <a class="btn btn-primary text-descricao-P text-dark"
                                        href="@_appConfig.forgotPasswordURL">
                                        Esqueci minha senha
                                    </a>
                                </li>
                            </ul>
                        </form>
                    }
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <section>
                    <div class="loginContinuarCom">
                        <h4 class="text-light">Ou continuar com</h4>
                        @if (Model.VisibleExternalProviders.Any())
                        {
                            <ul class="list-inline">
                                @foreach (var provider in Model.VisibleExternalProviders)
                                {
                                    <li class="list-inline-item">
                                        <a class="btn btn-primary"
                                            asp-controller="External"
                                            asp-action="Challenge"
                                            asp-route-scheme="@provider.AuthenticationScheme"
                                            asp-route-returnUrl="@Model.ReturnUrl">
                                            @provider.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </section>
            </div>
        </div>

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6 loginMargin4Percent">
        @*<span class="text-descricao-P text-light">@Data.Utility.copyright</span>*@
    </div>
</div>