<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bom Dev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />       
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="padding-top: 15px;padding-bottom:15px;">
            <div class="container">
                <a id="layoutLogo" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Bom Dev">
                    
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">     
                        @{
                            var projetos = Bom_Dev.Models.Projetos.InstanciarProjetos();
                            var setores = projetos
                                .Where(x => x.Ativo)                            
                                .Select(x => x.Setor)
                                .Distinct()
                                .OrderBy(x => x.ToString())
                                .ToList();
                            
                            foreach(var setor in setores)
                            {
                                <li class="nav-item dropdown">                                    
                                    @{
                                        var p = setor.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
                                        var x = p is null ? setor.ToString() : p.Name;
                                        
                                        <a class="nav-link dropdown-toggle text-dark fundo-arredondado" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @x.ToString()
                                        </a>
                                    }
                                    
                                    <ul class="dropdown-menu dropdown-menu-bomdev" aria-labelledby="navbarDropdownMenuLink">   
                                        @{
                                            var projetosSetor = projetos.Where(p => p.Setor == setor).ToList();

                                            foreach(var projeto in projetosSetor)    
                                            {
                                                <li>
                                                    <div class="dropdown-item-bomdev">                                                     
                                                        <a class="text-dark" href="@projeto.LinkAcesso">
                                                            @projeto.Nome
                                                            <p class="text-descricao-P text-dark">
                                                                @projeto.DescricaoBreve
                                                            </p>                                            
                                                        </a>
                                                    </div>
                                                </li>
                                            }
                                        }                                        
                                    </ul>                            
                                </li>
                            }
                        }                                           
                        <li class="nav-item">
                            <a class="nav-link text-dark fundo-arredondado" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre nós</a>
                        </li>
                    </ul>
                </div>
            </div>            
        </nav>        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            @Bom_Dev.Shared.Util.copyright - <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre nós</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
