@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
 
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Data.Utility.ProjectViewName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="menu0" class="navbar navbar-expand-md navbar-dark">
            @*<div class="container">*@        
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">                                                
                        <li class="nav-item active">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </li>
                    </ul>
                </div>
            @*</div>*@
        </nav>
        <nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            @*<div class="container">*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="@Data.Utility.ProjectViewName">
                    <img src="/img/bd4.png" id="layoutLogo" alt="@Data.Utility.ProjectViewName">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="teste" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("CategoryMenu")
                    </ul>
                </div>
            @*</div>*@
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="containerAfter">
            @RenderBody()
        </div>
        <partial name="_ProgressPartial" />
    </main>

    <footer class="footer text-muted">
        <div class="containerAfter">
            @Localizer["Copyright"]            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
