@{
    ViewData["Title"] = "Início";
}
<nav id="navBarSecundario" class="navbar navbar-light navbar-expand justify-content-center">
    <div class="container">
        <ul class="navbar-nav nav-justified w-100 text-center">
            <li class="nav-item">
                <form method="GET">
                    <input type="text" name="aplicacao" style="font-size: 14px!important;" placeholder="Buscar por aplicação..." required />
                    <button type="submit" class="btn btn-primary" style="font-size:14px!important;">Buscar</button>
                </form>                
            </li>            
        </ul>
    </div>
</nav>
<div class="container">
    <h4 style="margin-top: 2%;">Em destaque</h4>
    <ul style="list-style: none;margin:0;padding:0;margin-top:2%;">
        @{
            List<Bom_Dev.Models.Projetos.Projeto> projetos = (@ViewData["projetos"] as List<Bom_Dev.Models.Projetos.Projeto>);

            foreach(var proj in projetos)
            {
                string statusDesenvolvimento = proj.EmDesenvolvimentoInicial ? "(Em desenvolvimento) " : null;
                var p = proj.Setor.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>();
                var projetoSetor = p is null ? null : p.Name;

                <li class="bloco-destaque" style="background-color:@System.Drawing.ColorTranslator.ToHtml(proj.CorIdentidade.Fundo);color:@System.Drawing.ColorTranslator.ToHtml(proj.CorIdentidade.Texto);">                                        
                    <h3>@proj.Nome</h3>        
                    <h4>@string.Concat(statusDesenvolvimento, proj.DescricaoBreve)</h4>
                    <span class="fundo-arredondado text-light fundo-blur">@projetoSetor</span>
                    <a class="fundo-arredondado fundo-blur text-light" style="margin-top:15px;display:block;text-align:center;" href="@proj.LinkAcesso">Saiba mais...</a>                    
                </li>
            }
        }        
    </ul>
</div>

@section Scripts
{
    <style>
        #navBarSecundario{background:#F5F5F5;padding-top:0.5%;padding-bottom:0.5%;}     
        .bloco-destaque{
            display: inline-block;
            width:250px;
            padding:2%;
            margin-right: 1.5%;
        }   
        @@media (max-width: 580px) {  
            .bloco-destaque{width: 50%;}
        }        
    </style>
    <script>
        $( document ).ready(function() {
            var x = document.getElementsByClassName("container")[1];
            x.classList.remove("container");

            console.log("Bom Dev -> Container principal removido");
        });
    </script>
}